<div class="container text-center">
    <div class="row">
        <div class="col-md-5 panel1">
            <img class="mb-4 img" src="assets/img/log.png" alt="logo" />
        </div>
        <div class="col-md-7 panel2">
            <div class="background text-center">
                <form
                  class="form-signin animated fadeIn"
                  autocomplete="off"
                >
                  <h1 class="h3 mb-3 font-weight-normal t1">Iniciar Sesión...</h1>
                  <label class="sr-only" for="inputEmail">Correo</label>
                  <input
                    type="email"
                    class="form-control mb-2"
                    id="inputEmail"
                    placeholder="Correo"
                  />
                  <label class="sr-only" for="inputPassword">Password</label>
                  <input
                    type="password"
                    class="form-control mb-3"
                    id="inputPassword"
                    placeholder="Password"
                  />
                  <button type="submit" class="btn btn-outline-primary btn-block mb-2 btn1">
                    Ingresar
                  </button>
                  <a [routerLink]="['/register']">Registrate</a>
                  <p class="mt-4 mb-3 text-muted">UTT-Final - 2020</p>
                </form>
            </div>
        </div>
    </div>
</div>

